button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    padding: 11px 24px;
    border-radius: 3px;
}

.dark {
    background: var(--blue) 0% 0% no-repeat padding-box;
    color: var(--white);

    &:hover {
        background: var(--dark-button-hover)
    }
}

.light {
    background: var(--light-blue) 0% 0% no-repeat padding-box;
    color: var(--blue);

    &:hover {
        background: var(--light-button-hover)
    }
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;

    span {
        flex: 1;
        text-align: center;
    }

    img {
        position: absolute;
        left: 12px;
        width: 18px;
        height: 14px;
    }
}