footer {
    padding: 25px 0px;
    margin-top: 60px !important;
    border-top: 1px solid var(--border);
    text-align: right;

    p {
        color: var(--grey);
        font-size: 8px;
    }

    @media screen and (max-width: 720px) {
        text-align: center;
        margin-top: 40px !important;
    }
}