@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --blue: #2B7BA0;
  --white: #FFFFFF;
  --light-blue: #EDF6F8;
  --light-button-hover: #E1E9EB;
  --dark-button-hover: #226280;
  --border: #D5D5D5;
  --black: #333333;
  --grey: #657478;
  --input-bg: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  font-smooth: always;
}

.max-width {
  max-width: 1080px;
  margin: 0 auto;

  @media screen and (max-width: 1120px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

img {
  max-width: 100%;
  height: auto;
}